<div class="container">
    <div class="row h5">
        <div class="col-10">Tytuł wpisu</div>
        <div class="col">Autor</div>
    </div>
    <hr />
    <% @articles.each do |article| %> 
        <div class="row">
            <%= link_to article["title"], "articles/#{article[:id]}", class: "col-10" %>
            <div class="col"><%= article.user["username"] %></div>
        </div>
        <hr />
    <% end %>
</div>