<ul class="list-group list-group-flush">
    <% @articles.each do |article| %> 
        <% puts "Inside index template", article %>
        <li class="list-group-item">
            <%= link_to article["title"], "articles/#{article[:id]}" %>
        </li>
    <% end %>
</ul>